<!--#include virtual="/server/header.html" -->
<!-- Parent-Version: 1.77 -->

<!-- This is the template document for GNU web pages.  We use
     server side includes (#include) for common elements, for
     instance, the very first line of the file.  If you're reading
     this in its expanded form, you can retrieve the original source,
     with the SSI statements intact, from
     http://web.cvs.savannah.gnu.org/viewvc/*checkout*/www/server/standards/boilerplate.html?root=www&content-type=text%2Fplain
-->

<!-- Instructions for adapting this boilerplate to a new project: -->

<!-- 1. In the line above starting "Parent-Version:", remove the
        "$Revision...$" from around the revision number,
        leaving just Parent-Version: and the number. -->

<!-- 2. Replace "baz" with the name of your project.
        You should be able to do this with search and replace;
        making sure that the search is case insensitive and
        that the case of the replacement matches the case
        of the string found. In Emacs, query-replace will do this
        when case-fold-search and case-replace are both non-nil
        and both search and replacement string are given in lower case. -->

<!-- 3. Of course update the actual information according to your project,
        such as mailing lists, project locations, and maintainer name.  -->

<!-- 4. You can use the patch-from-parent script to semi-automate
        merging future changes to the boilerplate with your file:
        http://web.cvs.savannah.gnu.org/viewvc/*checkout*/www/server/standards/patch-from-parent?root=www&content-type=text%2Fplain
        -->

<!-- If you would like to make sure your page validates with HTML5, that
     would be a good thing.  To do that, change the first line from
     to /server/html5-header.html before trying the validation.  Maybe
     someday we will be able to make /server/header be HTML5.  -->

<title>GNU Astronomy Utilities - Gnuastro -
  - GNU Project - Free Software Foundation</title>

<style type="text/css"><!--
#table-of-contents {
   float: left;
   margin: 1.3em 0 1.5em 0;
}
#content #table-of-contents h4 { margin-top: .8em; }
#table-of-contents a:hover { text-decoration: underline; }
#table-of-contents h4 { text-align: center; }
h3 { clear: both; }
#content h3 a[href^="#"] {
   color: #333; text-decoration: none;
}
#table-of-contents a { text-decoration: none; }
@media (min-width: 40em) {
   h3 { clear: none; }
   #table-of-contents {
      float: right;
      margin: 1.3em 0 1em 1.5em;
   }
}
--></style>








<!--#include virtual="/server/gnun/initial-translations-list.html" -->
<!--#include virtual="/server/banner.html" -->
<h2>GNU Astronomy Utilities</h2>

<hr />
<div id="table-of-contents" class="emph-box">
<h4>Table of Contents</h4>
<ul>
  <li><a href="#introduction">Introduction</a></li>
  <li><a href="#download">Download</a></li>
  <li><a href="#documentation">Book (documentation)</a></li>
  <li><a href="#mail">Gnuastro mailing lists</a></li>
  <li><a href="#bug">Report a Bug</a></li>
  <li><a href="#contribute">Getting involved</a></li>
  <li><a href="#license">Licensing</a></li>
</ul>
<hr class="no-display"/>
</div>





<h3 id="introduction">Introduction</h3>
<p>The GNU Astronomy Utilities (Gnuastro) is an official GNU package
consisting of separate programs for the manipulation and analysis of
astronomical data. All the various utilities share the same basic
command-line user interface for the comfort of both the users and
developers. GNU Astronomy Utilities is written to comply fully with
the <a href="https://www.gnu.org/prep/standards/">GNU coding standards</a>
so it integrates finely with the GNU/Linux operating system. This also
enables astronomers to expect a fully familiar experience in the source
code, building, installing and command-line user interaction that they have
seen in all the other GNU software that they use.</p>

In case you are new to Gnuastro, you might find these links useful:

<ul>

  <li><a href="manual/html_node/Quick-start.html">Quick start</a>: To
    install Gnuastro.</li>

  <li><a href="manual/html_node/GNU-Astronomy-Utilities-list.html">List
of GNU Astronomy Utilities</a>: For a complete list of
utilities. </li>

  <li><a href="http://www.gnu.org/software/gnuastro/manual/html_node/Tutorials.html#Tutorials">Tutorials</a>:
for entertaining and easy to read real world examples of using
    Gnuastro.</li>

</ul>





<h3 id="download">Download</h3>

<p>The current stable release
  is <a href="http://ftp.gnu.org/gnu/gnuastro/gnuastro-0.1.tar.gz">Gnuastro
  0.1</a> (30 May 2016).
  Use <a href="http://ftpmirror.gnu.org/gnuastro/gnuastro-0.1.tar.gz">a
  mirror</a> if possible.<br />New releases are announced
  in <a href="https://lists.gnu.org/mailman/listinfo/info-gnuastro">info-gnuastro</a>,
  to stay up to date please subscribe.
  <br /><span style="background-color: #66cc00"><b>Bug fixed:</b></span>
  Please use
  <a href="http://alpha.gnu.org/gnu/gnuastro/gnuastro-alpha-latest.tar.gz">this
  alpha-release</a> if the <code>make</code> command from Gnuastro 0.1
  fails with an '<code>error: ld</code>'
  (<a href="https://savannah.gnu.org/bugs/index.php?48076"
  target="_blank">bug #48076</a>, this is a bug only in some operating
  systems, you might not need it).</p>

<p>For details of the significant changes in this release, please see
  the <a href="http://git.savannah.gnu.org/cgit/gnuastro.git/plain/NEWS?id=gnuastro_v0.1">NEWS</a>
  file.</p>

<p>The <a href="manual/html_node/Installation.html">Installation</a>
  chapter of the <a href="manual/">Gnuastro book</a>
  thoroughly discusses
  the <a href="manual/html_node/Dependencies.html">dependencies</a>,
  <a href="manual/html_node/Downloading-the-source.html">downloading
  methods</a>, and the
  <a href="manual/html_node/Build-and-install.html">building and
  installation</a> of Gnuastro. In short once the three mandatory
  dependencies
  (<a href="manual/html_node/CFITSIO.html">CFITSIO</a>, <a href="manual/html_node/WCSLIB.html">WCSLIB</a>
  and <a href="manual/html_node/GNU-Scientific-Library.html">GNU Scientific
  Library</a>) are installed the
  standard <code>./configure</code>, <code>make</code>, <code>make
  check</code>, and <code>make install</code> are enough
  (see <a href="manual/html_node/Quick-start.html">Quick start</a>).</p>

<p>Previous versions and PGP signatures are available
  at <a href="http://ftp.gnu.org/gnu/gnuastro">http://ftp.gnu.org/gnu/gnuastro</a>. Use <a href="http://ftpmirror.gnu.org/gnuastro">a
  mirror</a> if possible. </p>

<p>The
  canonical <a href="http://ftp.gnu.org/gnu/gnuastro/gnuastro-latest.tar.gz"></a<>http://ftp.gnu.org/gnu/gnuastro/gnuastro-latest.tar.gz</a>
  is also available for the latest
  release. Use <a href="http://ftpmirror.gnu.org/gnuastro/gnuastro-latest.tar.gz">http://ftpmirror.gnu.org/gnuastro/gnuastro-latest.tar.gz</a>
  if possible.</p>





<h3 id="documentation">Gnuastro book (documentation)</h3>

<p>The <a href="manual/">Gnuastro book</a> (official Gnuastro documentation
or manual) is available online in various formats, as
is <a href="http://www.gnu.org/manual/manual.en.html">documentation for
most GNU software</a>. After installation, you can access the complete
book, or the sections related to individual utilities on the command-line
(in <a href="../texinfo/manual/info/info.html">Info</a>
format). See <a href="manual/html_node/Getting-help.html">Getting help</a>
for more. As a summary, here are the ways you can immediately find navigate
to any major part of the book on the command-line:

<ul>
  <li><code>info gnuastro</code>: To view the complete Gnuastro book from
  the beginning.</li>
  <li><code>info ProgramName</code>: To view the complete section about a
    specific utility. For example <code>info NoiseChisel</code>
    or <code>info ImageCrop</code>.</li>
  <li><code>info astprogname</code>: To only view the "Invoking
  ProgramName" sub-section of the manual. Each program has this
  subsection which explains the input(s), output(s) and command-line
  options for that particular program. For example <code>info
  astnoisechisel</code> or <code>info astimgcrop</code>.</li>
  <li><code>astprogname --help</code>: A description and full list of
  options (classified by context) for this program will be printed. For
  example <code>astnoisechisel --help</code> or <code>astimgcrop
  --help</code>.</li>
  <li><code>man astprogname</code>: A man page listing the options and
  arguments of this program. For example <code>man astnoisechisel</code>,
  or <code>man astimgcrop</code>.</li>
</ul>





<h3 id="mail">Gnuastro mailing lists</h3>

<p>Gnuastro has the following mailing lists:</p>

<ul>

  <li><a href="https://lists.gnu.org/mailman/listinfo/info-gnuastro">info-gnuastro</a>:
  All official Gnuastro announcements will be circulated through this
  mailing list.</li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/help-gnuastro">help-gnuastro</a>:
  Get in touch with experienced Gnuastro users and developers on
  problems and advice in using Gnuastro (it will help if you have had
  a look at <a href="manual/">the documentation</a> first).</li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/bug-gnuastro">bug-gnuastro</a>:
  Report a bug, or suggest a new feature
  (see <a href="manual/html_node/Report-a-bug.html">Report a bug</a>
  and <a href="manual/html_node/Suggest-new-feature.html">Suggest new
  feature</a> in the documentation). </li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/gnuastro-devel">gnuastro-devel</a>:
Circulating development discussions (mainly interesting for Gnuastro
developers).</li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/gnuastro-commits">gnuastro-commits</a>:
Circulate commits made to Gnuastro's version controlled history in the
official repository.</li>
</ul>

<p>Security reports that should not be made immediately public can be
sent directly to the maintainer.  If there is no response to an urgent
issue, you can escalate to the general
<a href="http://lists.gnu.org/mailman/listinfo/security">security</a>
mailing list for advice.</p>





<h3 id="bug">Report a bug</h3>
<p>The <a href="manual/html_node/Report-a-bug.html">Report a bug</a>
  section of the manual thoroughly explains the process to report a bug,
  please read that section. As a summary, first have a look at
  the <a href="https://savannah.gnu.org/bugs/?group=gnuastro"
  target="_blank">Gnuastro bug archive</a>. Click on the "<i>Display
  criteria</i>" (above the list), choose "Any" in the "<i>Open/Closed</i>"
  drop-down menu, and under "<i>Category</i>" choose the part of Gnuastro
  that corresponds to your bug. By clicking on the "Apply" button, only the
  relevant bugs will be listed. Green items have been solved and closed,
  while red items are still open. If your bug isn't listed, please take one
  of the following steps. Please try to be as descriptive as possible and
  include the Gnuastro version you are using along with the commands or
  code that created the bug so we can reproduce and thus fix it faster.</p>

<ul>
  <li><a href="https://savannah.gnu.org/support/?func=additem&group=gnuastro"
  target="_blank">Submit your bug</a> through the main project management
  webpage. This is the recommended way to inform us of your bug. Please
  also fill out the meta-data (category, item group and etc) as much as
  possible.</li>
  <li>Send a mail
  to <a href="mailto:bug-gnuastro=at=gnu.org">bug-gnuastro::at::gnu.org</a>
  which is one of Gnuastro's <a href="#mail">mailing lists</a>. This will
  be slower than the first. Because of the large number of spam messages,
  this mailing list is moderated and other developers will only see it
  after it has been approved. So to immediately let all the developers
  know, please use the first option.</li>
</ul>





<h3 id="contribute">Getting involved</h3>

<p>The most important principle behind Gnuastro is to be easy for anyone to
  hack into it (add a new feature, change an existing one, fix a problem
  and most importantly to understand what is going on under the hood),
  please see <a href="manual/html_node/Science-and-its-tools.html">Science
  and its tools</a>. So you are most welcome and highly encouraged to
  contribute. There is even a full chapter dedicated
  to <a href="manual/html_node/Developing.html">Developing</a> to make it
  as easy as possible for you to get involved. Also
  see <a href="http://www.gnu.org/help/">How to help GNU</a> for joining
  the full GNU project.</p>

<dl>
<dt>Test releases</dt>

<dd>Trying the latest test release (when available) is always appreciated.
Test releases of Gnuastro can be found at
<a href="http://alpha.gnu.org/gnu/gnuastro/">http://alpha.gnu.org/gnu/gnuastro/</a>
(via HTTP) and
<a href="ftp://alpha.gnu.org/gnu/gnuastro/">ftp://alpha.gnu.org/gnu/gnuastro/</a>
(via FTP).</dd>


<dt>Development</dt>

<dd>GNU Astronomy Utilities is still under active development. So if you
are interested, please have a look at
the <a href="manual/html_node/Developing.html">Developing</a> chapter of
the documentation and start hacking into Gnuastro or even write your own
utility within it. For development
sources, <a href="https://savannah.gnu.org/bugs/?group=gnuastro">bug
trackers</a>, <a href="https://savannah.gnu.org/task/?group=gnuastro">task
trackers</a> (planned features to be added), and other information, please
see the
<a href="http://savannah.gnu.org/projects/gnuastro/">Gnuastro project
page</a> at <a href="http://savannah.gnu.org">savannah.gnu.org</a>. The
trackers can be a good starting point if you want to get involved in the
coding. To stay up to date with Gnuastro's development activities, please
subscribe to
the <a href="https://lists.gnu.org/mailman/listinfo/gnuastro-devel">gnuastro-devel</a>,
and/or
the <a href="https://lists.gnu.org/mailman/listinfo/gnuastro-commits">gnuastro-commits</a>
mailing lists.</dd>

<dd>Gnuastro is version controlled using
  Git. The <a href="manual/html_node/Version-controlled-source.html">version
  controlled source</a> can
  be <a href="http://git.savannah.gnu.org/cgit/gnuastro.git/tree/">inspected
  online</a>, or you
  can <a href="http://git.savannah.gnu.org/cgit/gnuastro.git/log/">see the
  latest history</a>. To keep a local copy, please clone it onto your
  system with any one of the following commands (if it works, the first one
  is recommended).
  <pre class="emph-box"><samp>git clone git://git.sv.gnu.org/gnuastro
git clone http://git.sv.gnu.org/r/gnuastro.git
</samp></pre></dd>

<dd>To configure and build the version controlled source, you will need to
  <a href="manual/html_node/Bootstrapping.html">bootstrap</a> it (also
  see <a href="manual/html_node/Bootstrapping-dependencies.html">bootstrapping
  dependencies</a>). See
  the <a href="manual/html_node/Forking-tutorial.html">forking tutorial</a>
  for a demonstration of the Gnuastro project workflow.</dd>

<dt>Maintainer</dt>

<dd>Gnuastro was created and is currently maintained by
  <a href="http://astr.tohoku.ac.jp/~akhlaghi">Mohammad
Akhlaghi</a>
<a href="mailto:akhlaghi=at=gnu.org">&lt;akhlaghi::at::gnu.org&gt;</a>.
Please use the mailing lists for contact. </dd>


</dl>





<h3 id="license">Licensing</h3>

<p>GNU Astronomy Utilities (Gnuastro) is free software; you can
redistribute it and/or modify it under the terms of
the <a href="http://www.gnu.org/licenses/gpl.html" rel="license">GNU
General Public License</a> as published by the Free Software
Foundation; either version&nbsp;3 of the License, or (at your option)
any later version.</p>

</div><!-- for id="content", starts in the include above -->
<!--#include virtual="/server/footer.html" -->
<div id="footer">
<div class="unprintable">

<p>Please send general FSF &amp; GNU inquiries to
<a href="mailto:gnu@gnu.org">&lt;gnu@gnu.org&gt;</a>.
There are also <a href="/contact/">other ways to contact</a>
the FSF.  Broken links and other corrections or suggestions can be sent
to <a href="mailto:bug-gnuastro@gnu.org">&lt;bug-gnuastro@gnu.org&gt;</a>.</p>

<p><!-- TRANSLATORS: Ignore the original text in this paragraph,
        replace it with the translation of these two:

        We work hard and do our best to provide accurate, good quality
        translations.  However, we are not exempt from imperfection.
        Please send your comments and general suggestions in this regard
        to <a href="mailto:web-translators@gnu.org">
        &lt;web-translators@gnu.org&gt;</a>.</p>

        <p>For information on coordinating and submitting translations of
        our web pages, see <a
        href="/server/standards/README.translations.html">Translations
        README</a>. -->
Please see the <a
href="/server/standards/README.translations.html">Translations
README</a> for information on coordinating and submitting translations
of this article.</p>
</div>

<!-- Regarding copyright, in general, standalone pages (as opposed to
     files generated as part of manuals) on the GNU web server should
     be under CC BY-ND 3.0 US.  Please do NOT change or remove this
     without talking with the webmasters or licensing team first.
     Please make sure the copyright date is consistent with the
     document.  For web pages, it is ok to list just the latest year the
     document was modified, or published.

     If you wish to list earlier years, that is ok too.
     Either "2001, 2002, 2003" or "2001-2003" are ok for specifying
     years, as long as each year in the range is in fact a copyrightable
     year, i.e., a year in which the document was published (including
     being publicly visible on the web or in a revision control system).

     There is more detail about copyright years in the GNU Maintainers
     Information document, www.gnu.org/prep/maintain. -->

<p>Copyright &copy; 2015-2016 Free Software Foundation, Inc.</p>

<p>This page is licensed under a <a rel="license"
href="http://creativecommons.org/licenses/by-nd/3.0/us/">Creative
Commons Attribution-NoDerivs 3.0 United States License</a>.</p>

<!--#include virtual="/server/bottom-notes.html" -->

<p class="unprintable">Updated:
<!-- timestamp start -->
$Date: 2016/04/28 03:49:53 $
<!-- timestamp end -->
</p>
</div>
</div>
</body>
</html>
