body
{
    padding:1em;
    display: block;
    font-family:verdana,helvetica,arial,sans-serif;
}




img
{
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




code,
samp
    {
        color:#000000;
        font-size: 90%;
        border-width: 1px;
        border-radius:2px;
        border-style: solid;
        border-color: #B0B0B0;
        font-family:"courier new";
    }

div.example
{
    width:auto;
    color:#000000;
    font-size: 125%;
    padding-left: 1em;
    margin:0 4em 0 2em;
    border:1px solid #d4d4d4;
    background-color:#f1f1f1;
    font-family:"courier new";
}

table.cartouche
{
    margin:10px;
    border:solid;
    border-width:1px;
    padding-left:1em;
    padding-right:1em;
    border-radius:10px;
    background-color:#EE9A49;
}


a:link,
a:visited,
a:hover,
a:active
      {
          text-decoration:none;
          font-weight:bold;
          color:#B13E0F;
      }
a:hover
      {
          color:#FF9F00;
      }
